<div class="page-layout blank p-24" perfect-scrollbar>

    <h2>Sample Page</h2>

    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?
    f=q
    &source=s_q
    &hl=pt-BR
    &geocode=
    &q=Inova+Esquadrias+de+Alum%C3%ADnio+%26+Vidra%C3%A7aria
    &aq=0
    &oq=twitter
    &sll=-46.42103439240664,-23.488779216905808
    &sspn=0.128789,0.264187
    &ie=UTF8
    &hq=Inova+Esquadrias+de+Alum%C3%ADnio+%26+Vidra%C3%A7aria
    &t=m
    &z=15
    &iwloc=A
    &output=embed"></iframe>
</div>
